<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="Mp3PlayerFlow" class="pl.piterpti.flow.Mp3PlayerFlow" scope="prototype"/>


    <bean id="controller" class="pl.piterpti.controller.Controller" scope="singleton">
        <constructor-arg>
            <list>
                <value type="java.lang.Class">pl.piterpti.flow.Mp3PlayerFlow</value>
            </list>
        </constructor-arg>
    </bean>


</beans>